@font-face {
    font-family: font;
    src: url("../fonts/PressStart2P.ttf");
}

* {
    color: white;
    font-family: font;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 511px;
    height: 319px;
    border: 2px solid white;
}

#contener {
    width: 950px;
    height: 700px;
    padding: 20px;
    overflow: hidden;
    margin: 0;
    background: rgb(0, 0, 0);
}

#locTitle {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
}

#locImage {
    width: 512px;
    height: 320px;
    margin: 22px;
}


#gameText {
    width: 600px;
    height: 150px;
    padding-left: 20px;
}

#data {
    display: block;
    float: left;
    width: 612px;
    margin: 0;
    padding: 0;
}

#compass {
    display: block;
    float: left;
    width: 265px;
    height: 454px;
    padding-top: 100px;
}

#compass_img {
    width: 265px;
    height: 120px;
    border: 0 solid black;
    position: absolute;
    top: 0;
    left: 0;
}

#compass_div {
    padding: 0;
    margin: 0;
    position: relative;
}

#compassN {
    position: absolute;
    height: 15px;
    width: 12px;
    left: 119px;
    top: 0;
    background: black;
}

#compassS {
    position: absolute;
    height: 13px;
    width: 13px;
    left: 125px;
    top: 105px;
    background: black;
}

#compassE {
    position: absolute;
    height: 13px;
    width: 14px;
    left: 237px;
    top: 35px;
    background: black;
}

#compassW {
    position: absolute;
    height: 14px;
    width: 12px;
    left: 16px;
    top: 35px;
    background: black;
}

#commandResponse {
    display: inline-block;
    height: 50px;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}

#gameConsole {
    display: inline-block;
    width: 512px;
    height: 50px;
    border: 2px solid white;
    font-size: 20px;
    margin: 20px;
    background: rgb(0, 0, 0);
    outline: none;
}


#intro, #end {
    position: absolute;
    top: 0;
    left: 0;
    width: 950px;
    height: 700px;
    z-index: 300;
}

#endContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 950px;
    height: 700px;
    z-index: 200;
}

#intro img, #end img, #endContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 990px;
    height: 740px;
    z-index: 300;

}